
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="/Student/Index">Index</a></li>
    <li><a href="/Student/Foodlist"> Foodlist</a></li>
    <li><a href="/Student/Ordernow">Ordernow</a></li>
    <li><a href="/Student/CurrentStatus">CurrentStatus</a></li>
</ul>