
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="/Clerk/Index">Index</a></li>
    <li><a href="/Clerk/GenerateBill"> GenerateBill</a></li>
    <li><a href="/Clerk/GenerateBillReport"> GenerateBillReport</a></li>
    @*<li><a href="/Clerk/BillReport"> BillReport</a></li>*@
    <li><a href="/Clerk/MenuList"> MenuList</a></li>
    <li><a href="/Clerk/MenuCreate"> MenuCreate</a></li>
    <li><a href="/Clerk/StudentList"> StudentList</a></li>
    <li><a href="/Clerk/StudentCreate"> StudentCreate</a></li>
    <li><a href="/Clerk/CheckOrder"> CheckOrder</a></li>

</ul>
